<!doctype html>
<html lang="en">

<head>
   <!-- Required meta tags -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- Bootstrap CSS -->

   <%-include('common/head.ejs')-%>


      <title>Category</title>
</head>

<body>
   <%-include('common/header.ejs')-%>


      <div class="container-fluid bg-side-nav">
         <div class="row">
            <div class="col-lg-2 sidebaare">
               <%-include('common/sidebaar.ejs')-%>
            </div>
            <div class="col-lg-10">







               <div class="dashboard-content-area">
                  <!-- put your contente -->
                  <h1>Category</h1>
                  <div class="row">
                     <div class="col-lg-12">

                        <div class="edit-form-data">
                           <form method="post" action="/admin/category/edit/<%=x._id%>?_method=put" enctype="multipart/form-data">    

                              <div class="mb-3 mt-3 row g-9 align-items-center">  
                                <div class="col col-lg-2"><label class="form-label">URL</label></div>
                                <div class="col"><input type="text" name ="Cat_Url" class="form-control" placeholder="Page Url" value="<%=x.url%>"></div>
                              </div>
                        
                              <div class="mb-3 mt-3 row g-9 align-items-center">           
                                  <div class="col col-lg-2"><label class="form-label">Meta Description</label></div>
                                  <div class="col"><input type="text" name ="Cat_Meta_Description" class="form-control" placeholder="Page Meta Description" value="<%=x.metaDescription%>"></div>
                              </div>
                        
                              <div class="mb-3 mt-3 row g-9 align-items-center">
                                <div class="col col-lg-2"><label class="form-label">Meta Keyword</label></div>
                                <div class="col"><input type="text" name ="Cat_Meta_Keyword" class="form-control" placeholder="Page Meta Keyword" value="<%=x.metaKeyword%>"></div>
                              </div>
                              
                              <div class="mb-3 mt-3 row g-9 align-items-center">
                                <div class="col col-lg-2"><label class="form-label">h1</label></div>
                                <div class="col"><input type="text" name ="Cat_Heading" class="form-control" placeholder="Page Heading" value="<%=x.h1%> "></div>
                              </div>
                              
                              <div class="mb-3 mt-3 row g-9 align-items-center"> 
                                <div class="col col-lg-2"><label class="form-label">Photo</label></div>
                                <div class="col"><input type="file" name="Cat_Photo" class="form-control"></div>
                              </div>
                              
                              <div class="mb-3 mt-3 row g-9 align-items-center">
                                <div class="col col-lg-2"><label class="form-label">Page Details</label></div>
                                <div class="col"><textarea rows="10" id="editor" class="editor form-control Cat_Details" name="Cat_Details" placeholder="Page Details"><%=x.categoryDetails%></textarea></div>
                              </div>
                        
                              <div class="mb-5 mt-3 align-items-center text-center"> 
                                   <button type="submit" class="btn btn-primary">Submit</button>
                              </div>
                          </form>
                        </div>

       
                     </div>

                  


                     <!-- end your content here -->

                  </div>

                  <!-- end your content here -->
               </div>

            </div>
         </div>
      </div>
      <%-include('common/footer.ejs')-%>
         <%-include('common/script.ejs')-%>

</body>

</html>